*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #4d2323;
    margin: 0;
}

.header {
    background: #54c1a4;
    padding: 10px 25px;
    margin-bottom: 60px;
}

.navigation-list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    flex-direction: row-reverse;
}

.navigation-item a {
    color: #fffdfd;
    text-decoration: none;
    margin-left: 20px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.section {

}

.main-block-picture {
    width: 400px;
}

.social-container {
    display: inline-flex;
    align-items: center;
    font-size: 20px;
    text-decoration: none;
    color: #54c1a4;
}

.social-container img {
    width: 32px;
    display: inline-block;
    margin-right: 8px;
}
